.container {
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0 auto;
}

.container p {
  width: 860px;
  margin-top: 0;
}
.container h1 {
  width: 860px;
  text-align: left;
  font-size: 24px;
  color: rgba(35, 87, 132, 1);
}
.container a {
  color: rgba(135, 45, 219, 0.993);
}
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
    text-align: left;
    margin-left: 10px;
  }
  .container p {
    width: 100%;
    font-size: 16px;
  }
  .container h1 {
    width: 100%;
  }
  .container h2 {
    font-size: 22px;
  }
}
